<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @album.title %></title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div>
    <h1><%= @album.title %></h1>
    <img src="<%= @album.cover %>" class="detail-img">
    <p>Year: <%= @album.year %></p>
    <p>Genre: <%= @album.genre %></p>    
  </div>
</body>
</html>