<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @album.title %></title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div>
    <h1><%= @album.title %></h1>
    <img src="<%= @album.cover %>" class="detail-img">
    <p>Year: <%= @album.year %></p>
    <p>Genre: <%= @album.genre %></p>    
    <p>Tracks:</p>
    <div>
      <ol>
        <% @tracks.each do |track| %>
        <li>
          <details>
            <summary><%= track.track_title %></summary>
            <form method="POST" action="/album/<%= @album.id %>/<%= track.id %>/edit">
              <div>
                <label for="updated-track-name">Edit track name:</label>
                <input id="updated-track-name" type="text" name="updated-track-name" value="<%= track.track_title %>">
                <input type="submit">
              </div>
            </form>
            <form method="POST" action="/album/<%= @album.id %>/<%= track.id %>/delete">
              <input type="submit" value="Click to delete this track">
            </form>
          </details>
        </li>
        <% end %>
      </ol>
    </div>
  </div>

  <br>

  <div>
    <details>
      <summary><b>Click here to edit album details</b></summary>
      <form method="POST" action="/album/<%= @album.id %>/edit-details">
        <div>
          <label for="edit-album-title">Title:</label>
          <input id="edit-album-title" type="text" name="edit-album-title" value="<%= @album.title %>" required>
        </div>
        <div>
          <label for="edit-album-year">Year:</label>
          <input id="edit-album-year" type="number" name="edit-album-year" value="<%= @album.year %>" required>
        </div>
        <div>
          <label for="edit-album-genre">Genre:</label>
          <input id="edit-album-genre" type="text" name="edit-album-genre" value="<%= @album.genre %>" required>      
        </div>
        <div>
          <label for="edit-album-cover">Link to album cover:</label>
          <input id="edit-album-cover" type="url" name="edit-album-cover" value="<%= @album.cover %>" required>      
        </div>
        <div>
          <input id="hidden-album-id" type="hidden" name="hidden-album-id" value="<%= @album.id %>">
          <input type="submit">
        </div>
      </form>
    </details>
  </div>
  
  <br>
  <br>
  
  <form method="POST" action="/album/add-tracks">
    <div class="add-tracks">
      <label for="track1">Track to add:</label>
      <input id="track1" type="text" name="track1" required>
      <input type="hidden" name="album_id" value="<%= @album.id %>">
      <!-- add ability to add more tracks -->
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
</body>
</html>